@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Ustvari obnovitvene kode za dvofaktorsko avtentikacijo (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Te kode shranite na varno mesto.</strong>
    </p>

    <p>
        Če izgubite napravo in nimate obnovitvenih kod, boste izgubili dostop do svojega računa.
    </p>

    <p>
        Ustvarjanje novih obnovitvenih kod ne spremeni ključev, ki jih uporabljajo aplikacije za avtentikacijo.
        Če želite spremeniti ključ, uporabljen v aplikaciji za avtentikacijo, morate
        <a asp-page="./ResetAuthenticator">ponastaviti svoje avtentikacijske ključe</a>.
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">
            Ustvari obnovitvene kode
        </button>
    </form>
</div>