@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Osebni podatki";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Vaš račun vsebuje osebne podatke, ki ste nam jih posredovali. Ta stran vam omogoča prenos ali izbris teh podatkov.</p>

        <p>
            <strong>Brisanje teh podatkov bo trajno odstranilo vaš račun in tega ni mogoče povrniti.</strong>
        </p>

        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Prenesi</button>
        </form>

        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Izbriši</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}