@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Ponastavi avtentikacijski ključ";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Če ponastavite avtentikacijski ključ, vaša aplikacija za avtentikacijo ne bo delovala, dokler je ponovno ne nastavite.</strong>
    </p>

    <p>
        Ta postopek onemogoči dvofaktorsko avtentikacijo, dokler ne preverite aplikacije za avtentikacijo.
        Če ne dokončate nastavitve aplikacije, lahko izgubite dostop do svojega računa.
    </p>
</div>

<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button"
                class="btn btn-danger"
                type="submit">
            Ponastavi avtentikacijski ključ
        </button>
    </form>
</div>