@page
@model ErrorModel
@{
    ViewData["Title"] = "Napaka";
}

<h1 class="text-danger">Napaka.</h1>
<h2 class="text-danger">Pri obdelavi vaše zahteve je prišlo do napake.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID zahteve:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Razvojni način</h3>

<p>
    Preklop na <strong>razvojno okolje</strong> prikaže podrobnejše informacije o napaki, ki se je zgodila.
</p>

<p>
    <strong>Razvojnega okolja ne smete omogočiti v produkciji</strong>, ker lahko razkrije občutljive informacije iz izjem končnim uporabnikom.
    Za lokalno razhroščevanje ga lahko omogočite z nastavitvijo spremenljivke okolja
    <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Development</strong> in ponovnim zagonom aplikacije.
</p>