@page
@model LockoutModel
@{
    ViewData["Title"] = "Račun zaklenjen";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ta račun je zaklenjen, prosimo poskusite znova kasneje.</p>
</header>