@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potrditev ponastavitve gesla";
}

<h1>@ViewData["Title"]</h1>

<p>
    Vaše geslo je bilo ponastavljeno. Prosimo, <a asp-page="./Login">kliknite tukaj za prijavo</a>.
</p>